#page-mod-pokcertificate-dashboard .tab {
    display: none;
}

#page-mod-pokcertificate-dashboard .tab.active {
    display: block;
}

/* Style for tab buttons */
#page-mod-pokcertificate-dashboard .tab-btn {
    cursor: pointer;
    padding: 5px 75px;
    border: 1px solid #ccc;
    background-color: #0c589c;
}

#page-mod-pokcertificate-dashboard .tab-btn.active {
    background-color: #ddd;
}

#page-admin-mod-pokcertificate-pokcertificate .verification_content .verification_form {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 0 16px #3838381a;
    border-radius: 10px;
    padding: 1.5rem 1rem;
}

#page-mod-pokcertificate-view {
    box-sizing: border-box;
}

#page-mod-pokcertificate-view .column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#page-mod-pokcertificate-view .row::after {
    content: "";
    clear: both;
    display: table;
}

#page-mod-pokcertificate-view .optradio {
    margin-right: 0.5rem;
}

#page-mod-pokcertificate-view .certbutton {
    margin: 10px 20px 10px 140px;
}

/* Style the tab */
#page-admin-mod-pokcertificate-pokcertificate .tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
#page-admin-mod-pokcertificate-pokcertificate .tab button {
    background-color: #b5d0e761;
    cursor: pointer;
    padding: 5px 17px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
#page-admin-mod-pokcertificate-pokcertificate .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#page-admin-mod-pokcertificate-pokcertificate .tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
#page-admin-mod-pokcertificate-pokcertificate .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#page-admin-mod-pokcertificate-pokcertificate .error-msg {
    border-left: 3px solid red;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 5px 5px 5px 10px;
    color: red;
}

#page-admin-mod-pokcertificate-pokcertificate .success-msg {
    border-left: 3px solid green;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 5px 5px 5px 10px;
    color: green;
}

#page-admin-mod-pokcertificate-pokcertificate .loadElement {
    position: absolute;
    left: 485px;
}

#page-admin-mod-pokcertificate-pokcertificate .verified {
    color: green;
    margin-right: 5px;
}

#page-admin-mod-pokcertificate-pokcertificate .verified span {
    font-size: 14px;
    color: green;
}

#page-admin-mod-pokcertificate-pokcertificate .notverified {
    color: red;
    margin-right: 5px;
}

#page-admin-mod-pokcertificate-pokcertificate .notverified span {
    font-size: 14px;
    color: red;
}

#page-admin-mod-pokcertificate-pokcertificate .pok_details {
    box-shadow: 0 0 6px #00000040;
    border-radius: 10px;
    font-size: 14px;
    padding: 6px;
    margin-left: 1.8rem;
    margin-top: 40px;
}

#page-admin-mod-pokcertificate-pokcertificate .pok_details li {
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
}

#page-mod-pokcertificate-view .removerow .col-md-3 {
    padding: 0;
}

#page-mod-pokcertificate-view .fieldmapping {
    display: flex;
    align-items: center;
}

#page-mod-pokcertificate-view .fieldmapping .userfields {
    margin-left: 0.8rem;
}

#page-mod-pokcertificate-view .fieldmappingheaders {
    display: flex;
    align-items: center;
}

#page-mod-pokcertificate-view #id_option_add_fieldsaddfields {
    display: none;
}

#page-mod-pokcertificate-view .addfields {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-mod-pokcertificate-view .mappingheaders {
    margin-right: 20%;
}

#page-mod-pokcertificate-view .ufheader {
    margin-left: 3.5em;
}

#page-mod-pokcertificate-view div#id_fieldmappingcontainer {
    margin-top: 35px;
}

#page-mod-pokcertificate-view .verifyauth {
    margin-top: 1.5em;
    padding: 7px 18px;
    border-radius: 4px;
    color: white;
    background-color: #2578dd;
    margin-left: 5px;
}

#page-admin-mod-pokcertificate-pokcertificate .navmenu {
    margin-left: 30%;
}

#page-admin-mod-pokcertificate-pokcertificate .navmenu .nav-tabs {
    border-bottom: 0;
}

#page-admin-mod-pokcertificate-pokcertificate .navmenu .nav-tabs .nav-item {
    border-right: 1px solid #dee2e6;
}

#page-mod-pokcertificate-view .generalbox .mainheading {
    color: green;
    margin-top: 10px;
}

#page-mod-pokcertificate-view .generalbox .success-mainheading {
    color: green;
    text-align: center;
    margin-top: 10px;
}

#page-mod-pokcertificate-view div#notice {
    /* stylelint-disable-next-line csstree/validator */
    max-width: -webkit-fill-available;
}

#page-mod-pokcertificate-view .generalbox .complheading {
    color: #0072ffcc;
}

#page-mod-pokcertificate-view .generalbox .success-complheading {
    color: #0072ffcc;
    text-align: center;
}

#page-mod-pokcertificate-view .generalbox .pendingbtn {
    color: white;
    background: red;
    margin-left: 42%;
}

#page-mod-pokcertificate-view .generalbox .certmessage {
    text-align: justify;
    text-justify: inter-word;
}

#page-mod-pokcertificate-view .generalbox .faicon {
    color: green;
}

.blue-enrolldate {
    color: #007acc;
}

.blue-completedate {
    color: #007acc;
}

.Completed-coursestatus {
    color: #004d00;
}

.Inprogress-coursestatus {
    color: #e62e00;
}

.Free-certificatetype {
    color: #004d00;
}

.Paid-certificatetype {
    color: #007acc;
}

.Yes-senttopok {
    color: #004d00;
}

.No-senttopok {
    color: #c00;
}

.pokcertificate_img_container img {
    width: 100%;
}

/*cards*/
:root {
    --card-line-height: 1.2em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    --color-green: #558309;
    --color-gray: #e2ebf6;
    --color-dark-gray: #c4d1e1;
    --radio-border-width: 2px;
    --radio-size: 1.5em;
}

#page-mod-pokcertificate-view .grid {
    display: grid;
    grid-gap: var(--card-padding);
    margin: 0 auto;
    padding: 0;

    @media (min-width: 42em) {
        grid-template-columns: repeat(3, 1fr);
    }
}

#page-mod-pokcertificate-view .card {
    background-color: #cbd0d570;
    border-radius: var(--card-radius);
    position: relative;

    &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
}

#page-mod-pokcertificate-view .certradio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width));
}

#page-mod-pokcertificate-view .template-details {
    /*border: var(--radio-border-width) solid var(--color-gray);*/
    border-radius: var(--card-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;
}

#page-mod-pokcertificate-view .card:hover .template-details {
    border-color: var(--color-dark-gray);
}

#page-mod-pokcertificate-view .certradio:checked ~ .template-details {
    border-color: var(--color-green);
}

#page-mod-pokcertificate-view .certradio:focus ~ .template-details {
    box-shadow: 0 0 0 2px var(--color-dark-gray);
}

#page-mod-pokcertificate-view .certradio:disabled ~ .template-details {
    color: var(--color-dark-gray);
    cursor: default;
}

#page-mod-pokcertificate-view .certradio:disabled ~ .template-details .template-type {
    color: var(--color-dark-gray);
}

#page-mod-pokcertificate-view .card:hover .certradio:disabled ~ .template-details {
    border-color: var(--color-gray);
    box-shadow: none;
}

#page-mod-pokcertificate-view .card:hover .certradio:disabled {
    border-color: var(--color-gray);
}

#page-mod-pokcertificate-view .template-type {
    color: var(--color-green);
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1em;
}

#page-mod-pokcertificate-view .hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#page-mod-pokcertificate-view .template-name {
    margin-bottom: 0.5rem;
}

/* CSS for the loading spinner */
.button-loader {
    position: relative;
    overflow: hidden;
}

.button-loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    border: 4px solid #fff;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    box-sizing: border-box;
    transform-origin: 50% 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* CSS for the button */
#loading-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loading-button:hover {
    background-color: #2980b9;
}

#page-mod-pokcertificate-view th.header.fieldmapheader {
    padding: 5px 70px 10px 10px;
}

#page-mod-pokcertificate-view td.cell.fieldmapfields {
    padding: 0 15px 0 0;
}

#page-mod-pokcertificate-view td.cell.fieldmapfields .templatefields {
    min-height: 60px;
}

#page-mod-pokcertificate-view .fieldmapfields .templatefields .custom-select,
#page-mod-pokcertificate-view .fieldmapfields .userfields .custom-select {
    width: 100%;
}

#page-mod-pokcertificate-view .fieldmapfields .userfields .textfield {
    width: 100%;
}

#page-mod-pokcertificate-view td.cell.fieldmapfields .userfields {
    min-height: 60px;
}

#page-mod-pokcertificate-view div#fgroup_id_buttonar {
    padding: 1em 1em 1em 10em;
}

/* Float four columns side by side */
.verify .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.verify .row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.verify .row:after {
    content: "";
    display: table;
    clear: both;
}

.authverify {
    margin: 0 0 2em 0;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .verify .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.verify .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.template_cat_container label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: medium;
}

.template_cat_container input[type='radio']:checked + label {
    color: #0c7bb6;
}

.template_cat_container input[type='radio'] {
    transform: scale(1.2);
}

#page-mod-pokcertificate-view .certificates_container .certradio {
    visibility: hidden;
}

#page-mod-pokcertificate-view .certificates_container button.btn.selection_btn.btn-light {
    border-color: #0c0c0c2e;
}

/*#page-mod-pokcertificate-view .certificates_container .certradio .btn-light:hover {
    padding : 0em 1em 0em 1em;
}*/

#page-mod-pokcertificate-view td.cell.fieldmapfields .fitem .col-form-label {
    display: none;
}

#page-mod-pokcertificate-view td.cell.fieldmapfields .fitem .felement {
    flex: 0 0 100%;
    max-width: 100%;
    align-content: center;
}

#page-mod-pokcertificate-view table.fieldlist {
    margin-top: 1rem;
}

#pokintroview .verification_section {
    background: #ebebff;
    padding: 18px 20px;
    border-radius: 16px;
    flex-wrap: wrap;
    gap: 1rem;
}

#pokintroview .verify_text {
    color: #552aa8;
}

#pokintroview .verify_desc {
    font-size: 12px;
}

#pokintroview .verify_btn {
    border: 1px solid;
    background: #5124a6;
    font-weight: 600;
    padding: 8px 14px;
}

#pokintroview .credential_link {
    padding: 9px 14px;
    border-radius: 15px;
    color: black;
    background: #ebebff;
}

#pokintroview .credential_link:hover {
    text-decoration: none;
}

#pokintroview .credential_desc {
    font-size: large;
}

#pokintroview .contact_section {
    border: 1px solid #ddd;
    padding: 15px 14px;
    border-radius: 20px;
    gap: 2rem;
}

#pokintroview .contact_section .envelope {
    font-size: 45px;
    color: grey;
}

#pokintroview .contact_section .contact_link {
    font-size: 12px;
}

#pokintroview .contact_section .contact_link a:hover {
    text-decoration: none;
}

.pokcertificateloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffffcd;
    z-index: 9999;
    flex-direction: column;
    gap: 1rem;
}

.pokcertificateloader .loading-spinner {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 10px solid rgba(230, 230, 230, .3);
    border-radius: 50%;
    border-top-color: #3dc9e5;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}