#page-mod-pokcertificate-dashboard .tab {
    display: none;
}
#page-mod-pokcertificate-dashboard .tab.active {
    display: block;
}
/* Style for tab buttons */
#page-mod-pokcertificate-dashboard  .tab-btn {
    cursor: pointer;
    padding: 5px 75px;
    border: 1px solid #ccc;
    background-color: #0c589c;
}
#page-mod-pokcertificate-dashboard  .tab-btn.active {
    background-color: #ddd;
}

#page-mod-pokcertificate-pokcertificate .verification_content .verification_form {
    background: #FFF 0% 0% no-repeat padding-box;
    box-shadow: 0 0 16px #3838381A;
    border-radius: 10px;
    padding: 1.5rem 1rem;
}

#page-mod-pokcertificate-view {
    box-sizing: border-box;
}

#page-mod-pokcertificate-view .column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#page-mod-pokcertificate-view .row::after {
    content: "";
    clear: both;
    display: table;
}

#page-mod-pokcertificate-view  label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: 1.5em;
}

#page-mod-pokcertificate-view .certbutton{
    margin: 10px 20px 10px 190px;
}

#page-mod-pokcertificate-fieldmapping form .fieldmapping {
    width: 38%;
    float: left;
}

#page-mod-pokcertificate-fieldmapping form input[name="delete[0]"] {
     display: none;
}
