{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}

{{#showdata}}
    <table class="generaltable dataTable no-footer">
        <thead>
            <tr role="row">
                <th>
                    <input type="checkbox" id="select-all">
                    {{#str}}studentname,mod_pokcertificate{{/str}}
                </th>
                <th>{{#str}}surname,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}email,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}studentid,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}course,mod_pokcertificate{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
                <tr>
                    <td>
                        <i class="fa fa-caret-right" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                        <input type="checkbox" class="user-checkbox" name="selected_users[]" value="{{assignid}}">
                        {{firstname}}
                    </td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>{{studentid}}</td>
                    <td>{{course}}</td>
                </tr>
                <tr class="accordion-content" style="display: none;">
                    <td colspan="5">
                        <table class="generaltable dataTable no-footer">
                            <thead>
                                <tr role="row">
                                    <th>{{#str}}certificatetitle,mod_pokcertificate{{/str}}</th>
                                    <th>{{#str}}issueddate,mod_pokcertificate{{/str}}</th>
                                    <th>{{#str}}certificatstatus,mod_pokcertificate{{/str}}</th>
                                    <th>{{#str}}previewcertificate,mod_pokcertificate{{/str}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            {{/data}}
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">
        <button id="award-certificate-btn" class="btn btn-primary">{{#str}}awardcertificate, mod_pokcertificate{{/str}}</button>
    </div>
{{/showdata}}
{{^showdata}}
    <div class="alert alert-info alert-block fade in  alert-dismissible" role="alert" data-aria-autofocus="true">
        {{#str}}norecordavailable, mod_pokcertificate{{/str}}
    </div>
{{/showdata}}

<script>
    // Function to handle the click event of the play icon and toggle the accordion
    function toggleAccordion(icon) {
        var row = icon.parentElement.parentElement;
        var nextRow = row.nextElementSibling;
        if (nextRow.classList.contains("accordion-content")) {
            if (nextRow.style.display === "none") {
                // If the accordion content is hidden, show it
                nextRow.style.display = "table-row";
                // Change the icon to fa-caret-down when the accordion is active
                icon.classList.remove("fa-caret-right");
                icon.classList.add("fa-caret-down");
            } else {
                // If the accordion content is visible, hide it
                nextRow.style.display = "none";
                // Change the icon to fa-caret-right when the accordion is inactive
                icon.classList.remove("fa-caret-down");
                icon.classList.add("fa-caret-right");
            }
        }
    }

    // Function to handle the click event of the "Award Certificate" button
    document.getElementById("award-certificate-btn").addEventListener("click", function() {
        // Array to store selected user IDs
        var selectedUserIds = [];
        
        // Loop through each checkbox
        var checkboxes = document.getElementsByClassName("user-checkbox");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                // If checkbox is checked, add its value (user ID) to the array
                selectedUserIds.push(checkboxes[i].value);
            }
        }

        // Redirect only if at least one checkbox is checked
        if (selectedUserIds.length > 0) {
            window.location.href = "new.php?userids=" + selectedUserIds.join(",");
        } else {
            // Display a message or perform other actions when no checkboxes are checked
            alert("Please select at least one user to award a certificate.");
        }
    });

    // Function to handle the click event of the "Select All" checkbox
    document.getElementById("select-all").addEventListener("change", function() {
        var checkboxes = document.getElementsByClassName("user-checkbox");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
    });

    // Function to check if any checkboxes are checked and enable/disable the "Award Certificate" button accordingly
    function checkSelected() {
        var checkboxes = document.getElementsByClassName("user-checkbox");
        var awardBtn = document.getElementById("award-certificate-btn");
        var atLeastOneChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                atLeastOneChecked = true;
                break;
            }
        }
        awardBtn.disabled = !atLeastOneChecked;
    }

    // Call the checkSelected function when the page loads and whenever a checkbox is clicked
    window.addEventListener("load", checkSelected);
    document.getElementById("select-all").addEventListener("change", checkSelected);
    var checkboxes = document.getElementsByClassName("user-checkbox");
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", checkSelected);
    }
</script>

