{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
{{!
    @template mod_pokcertificate/awardgeneralcertificates

    Describe template awardgeneralcertificates

    Example context (json):
    {
    }
}}
{{#showdata}}
<div class= "row">
 <form action="previewusers.php" method="post">
    <table class="generaltable dataTable no-footer">
        <thead>
            <tr role="row">
                <th><input type="checkbox" id="select-all"></th>
                <th>{{#str}}studentname,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}surname,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}email,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}studentid,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}modulename,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}course,mod_pokcertificate{{/str}}</th>
                {{#showtemplatetype}}
                    <th>{{#str}}typeofcerti,mod_pokcertificate{{/str}}</th>
                {{/showtemplatetype}}
                <th>{{#str}}completedate,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}issuedddate,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}certificatestatus,mod_pokcertificate{{/str}}</th>
                <th>{{#str}}preview{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
                <tr>
                    <td value = "{{userinputids}}">
                    {{^status}}
                        {{^incompleteactivity}}
                        <input type="checkbox" class="user-checkbox inp" name="selectedusers[]" value = "{{userinputids}}">
                        {{/incompleteactivity}}
                    {{/status}}
                    </td>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>{{studentid}}</td>
                    <td>{{activity}}</td>
                    <td>{{course}}</td>
                    {{#showtemplatetype}}
                        <td class="{{certificatetype}}-certificatetype">{{certificatetype}}</td>
                    {{/showtemplatetype}}
                    <td class="blue-completedate">{{completedate}}</td>
                    <td class="blue-completedate">{{issueddate}}</td>
                    <td class="{{certificatestatus}}-coursestatus" {{#incompleteactivity}}style="cursor:pointer;" title="{{#str}}filedmappingmissing,mod_pokcertificate{{/str}}"{{/incompleteactivity}}>{{certificatestatus}}</td>
                    {{#status}}
                        {{#certificateurl}}
                            <td>
                                <a href="{{certificateurl}}" target="_blank">
                                    <span class='viewcertificate'>
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </td>
                        {{/certificateurl}}
                        {{^certificateurl}}
                            <td style="font-size: smaller;color: darkslategrey;">{{#str}}mailpending,mod_pokcertificate{{/str}}</td>
                        {{/certificateurl}}
                    {{/status}}
                    {{^status}}
                    {{^certificateurl}}
                        <td >-</td>
                    {{/certificateurl}}
                    {{/status}}
                 </tr>
                 <input type = "hidden" id = "courseid" name = "courseid" value = {{courseid}}>

            {{/data}}
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">
        <button type="submit" id="award-certificate-btn" class="btn btn-primary">{{#str}}award, mod_pokcertificate{{/str}}</button>
    </div>
    </form>
</div>
{{/showdata}}
{{^showdata}}
    <div class="alert alert-info alert-block fade in  alert-dismissible" role="alert" data-aria-autofocus="true">
        {{#str}}norecordavailable, mod_pokcertificate{{/str}}
    </div>
{{/showdata}}

<script>
    // Function to handle the click event of the "Award Certificate" button
    document.getElementById("award-certificate-btn").addEventListener("click", function() {
        // Array to store selected user IDs
        var selectedUserIds = [];

        // Loop through each checkbox
        var checkboxes = document.getElementsByClassName("user-checkbox");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                // If checkbox is checked, add its value (user ID) to the array
                selectedUserIds.push(checkboxes[i].value);
            }
        }

        // Redirect only if at least one checkbox is checked

        if (selectedUserIds.length > 0) {
        } else {
            // Display a message or perform other actions when no checkboxes are checked
            alert("Please select at least one user to award a certificate.");
        }
    });
    // Function to handle the click event of the "Select All" checkbox
    document.getElementById("select-all").addEventListener("change", function() {
        var checkboxes = document.getElementsByClassName("user-checkbox");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
    });

    // Function to check if any checkboxes are checked and enable/disable the "Award Certificate" button accordingly
    function checkSelected() {
        var checkboxes = document.getElementsByClassName("user-checkbox");
        var awardBtn = document.getElementById("award-certificate-btn");
        var atLeastOneChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                atLeastOneChecked = true;
                break;
            }
        }
        awardBtn.disabled = !atLeastOneChecked;
    }

    // Call the checkSelected function when the page loads and whenever a checkbox is clicked
    window.addEventListener("load", checkSelected);
    document.getElementById("select-all").addEventListener("change", checkSelected);
    var checkboxes = document.getElementsByClassName("user-checkbox");
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", checkSelected);
    }
</script>
