{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_pokcertificate/certificatetemplates

    Describe template certificatetemplates

    Example context (json):
    {
    }
}}

<form action="fieldmapping.php" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="template_cat_container mb-3 d-flex">

                <div class="radio_inpt_container mr-3">
                    <input type="radio" id="type1" class="optradio" name="type" value = "0" {{^temptype}}checked="checked" {{/temptype}} data-action = "templatetype" checked="checked">
                    <label for="type1" class="radio-inline">{{#str}}free,pokcertificate{{/str}}</label>
                </div>
                <div class="radio_inpt_container">
                    <input type="radio" id="type2" class="optradio" name="type" value = "1"  {{#temptype}}checked="checked" {{/temptype}} data-action = "templatetype">
                    <label for="type2" class="radio-inline">{{#str}}paid,pokcertificate{{/str}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid certificates_container">
                {{#certdata}}
                <div class="card certificate_card">
                    <input type="hidden" name="id" id = "id" value = {{cmid}}>
                    <input name="temp" class="certradio" type="radio" value="{{tempname}}">
                    <span class="template-details">
                    <span class="template-name ">{{name}}</span>
                        <img src="{{certimage}}" alt="" class="">
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn selection_btn {{#selectedtemplate}} btn-success{{/selectedtemplate}}{{^selectedtemplate}}btn-light{{/selectedtemplate}}">{{#str}}select{{/str}}</button>
                        </div>
                    </span>
                </div>
                {{/certdata}}
            </div>
            <div class="w-full text-center mt-3">
            <button type="submit" class="btn btn-primary" id="certbutton">{{#str}}usethistemplate, mod_pokcertificate{{/str}}</button>
            </div>
        </div>
    </div>
</form>
{{#js}}
    $(document).ready(function(){
        $('.certificates_container .selection_btn').click(function(e){
            e.preventDefault();
            var card_element = $(this).parent().parent().parent();
            card_element.find('.certradio').prop('checked',true);
            $('.certificates_container .selection_btn').removeClass('btn-success').addClass('btn-light');
            $(this).removeClass('btn-light').addClass('btn-success');
        });
    });

{{/js}}
