{{!
    This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    
    @author eabyas  <info@eabyas.in>
}}


<div class="row mt-3 mb-3">
    <div class="col-md-12 d-flex justify-content-end">
        <a id='extended_menu_syncusers' title='{{# str}}bulkupload, mod_pokcertificate{{/ str}}' class='course_extended_menu_itemlink' href='{{config.wwwroot}}/mod/pokcertificate/userupload.php'>
            <button type='button' class='btn btn-danger float-right'>{{# str}}bulkupload, mod_pokcertificate{{/ str}}</button>
        </a>
    </div>
</div>
