{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_pokcertificate/viewdata

    Describe template viewdata

    Example context (json):
    {
    }
}}
<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-primary mr-2" href="{{config.wwwroot}}/mod/pokcertificate/incompletestudent.php" target="_blank">{{# str }} incompletestudent, mod_pokcertificate {{/ str }}</a>
    <a class="btn btn-primary mr-2" href="{{config.wwwroot}}/mod/pokcertificate/generalcertificate.php" target="_blank">{{# str }} generalcertificate, mod_pokcertificate {{/ str }}</a>
    <a class="btn btn-primary mr-2" href="javascript:void(0)">{{# str }} contact, mod_pokcertificate {{/ str }}</a>

</div>
